<!--suppress ALL -->
<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
<!--    <img src="client/src/app/images/rms.png" alt="Logo"/>-->
    <h1><img src="assets/rms.png" alt="" height="50" width="50"/>P.A.C.E.<span style="font-size: small; vertical-align: super">&copy;</span></h1>
    <h4 style="font-variant: small-caps; color: gray">Powered by RMS<span style="font-size: small; vertical-align: super">&copy;</span></h4>
    <h5 style="font-variant: small-caps; font-size: medium">A cross-functional multi-platform web application for healthcare professionals</h5>
    <br/>
    <br/>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
      <button class="btn btn-info btn-lg">Learn More</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
       <div class="col-4">
         <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
       </div>
    </div>
  </div>
</div>
